@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box
}
body
{
	background: url("images/background.jpg") no-repeat fixed top right;
	
}
a:link{
	color:darkgray;
	text-decoration: none;
}
a hover{
	font-size: 1.2em;
}
#container{
	width: 800px;
		margin: 0 auto;
}
.left{
	width: 360px;
	height: 960px;
	background-color:rgba(185,185,185,.5);
	border-radius: 20px;
	float: left;
	padding:15px;
	margin: 0px 100px;
	border: thick rgba(255,255,255,1.00) solid;
	
}
.right{
	width: 380px;
	height: 330px;
	background-color:rgba(185,185,185,.5);
	border-radius: 20px;
	padding:15px;
	float: left;
	margin: 0px 0px 0px 20px;
	border: thick rgba(255,255,255,1.00) solid;
	visibility: visible;
}

header > h1{
	text-align: center
	
}
